@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  border-radius: 12px;
  max-width: 95vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.divider {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 0px;
}

.projectDescription {
  white-space: pre-line;  
  vertical-align: bottom;
  width: 60vw;
  margin: 20px;
}

.projects-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  margin-left: 7vw;
}

.single-project {
  position:relative;
  overflow: none;
  margin: 20px;
  display: flex;
}

.banner {
  width: 80vw;
  height: 40vh;
}

.project-page-container {
  margin: 20px;
}

.project-tags {
  div {
    margin: 10px;
  }
}

